body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  display: flex;
}

.content {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  align-items: center;
  width: 100%;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 560px;
  flex-wrap: wrap;
  text-align: center;
  flex-direction: column;
}

main img {
  width: 348px;
  height: 223px;
}

h1 {
  font-size: 49px;
  font-weight: 400;
  color: #000;
  font-family: "Inter", sans-serif;
}

h1 .color {
  font-weight: 700;
}

p {
  font-size: 14px;
  font-weight: 300;
  line-height: 2;
  color: #7d7987;
  font-family: "Open Sans", sans-serif;
}

.bold {
  font-weight: 700;
}

.color {
  color: #ff9900;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: auto;
  width: 100%;
}

.line {
  margin: 10px;
  width: 570px;
  height: 1px;
  background-color: #eceff2;
}

.contatos {
  display: flex;
  justify-content: center;
  gap: 16px;
  padding-bottom: 35px;
}

a {
  color: #ff9900;
  font-size: 14px;
  font-weight: 300;
  line-height: 2;
  font-family: "Open Sans", sans-serif;
}

.decoration {
  width: 100px;
  height: 90px;
  margin-top: auto;
  align-self: flex-end;
  bottom: 0;
  margin: 2px;
  position: absolute;
}
